html, body, header, div, ul, li, nav, a, h1, article {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

#archive {
    ul {
        list-style-type: none;
        float: right;

        li {
            display: inline-block;

            a {
                color: black;
                padding: 5px;
                font-size: 10px;
            }
        }
    }
}

#header {
    position: relative;
    margin-bottom: 15px;

    #nav {
        ul {
            background: url('images/topnav_divider.png');
            background-repeat: repeat-x;
            padding: 20px 50px;

            li {
                display: inline-block;
                margin-right: 20px;

                a {
                    color: #fff;
                    font-size: 18px;
                }

                &:first-letter {
                    text-transform: capitalize;
                }
            }
        }
    }

    h1 {
        font-size: 28px;
        color: #fff;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

#content {
    padding: 6px;

    h1 {
        font-size: 24px;
    }

    p {
        text-align: justify;
    }
}
