body {
    font-size: 14px;
    font-family: Consolas, Arial;
}

section {
    background-color: #EEEEEE;
    width: 500px;
    border: 1px solid #cccccc;
}

#music-categories h1 {
    font-size: 1.5em;
    font-family: Consolas,Arial;
    margin: 15px;
}

.category {
    background-color: #FFFFFF;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    overflow: hidden;
}

    .category img {
        float: left;
        margin-right: 10px;
        border: 1px solid #9A9592;
        width: 130px;
        height: 90px;
    }

    .category .styled {
        font-weight: bold;
    }

    .category .buttons {
        float: right;
        margin: 10px;
    }

button {
    background: url('button.png');
    background-position: center;
    background-size: 50px 25px;
    color: white;

    border: 3px outset black;
}

button:hover{
    cursor: pointer;
    border: 3px inset yellow;
}
