body {
    font-family: Calibri;
}

table,td {
    border-collapse: collapse;
    border: 1px solid black;
    text-indent: 5px;
}

thead {
    background-color: #56B906;
    color: white;
}

th{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
}

tr:nth-child(2n) {
    background-color: #ECECD8;
}
